<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-4.1.xsd">
    
    <context:property-placeholder location="classpath:sport.properties"/>

	<bean id="fortune"
		class="com.stgcodes.springdemo.HappyFortuneService">
	</bean>
	
	<bean id="randomFortune"
		class="com.stgcodes.springdemo.RandomFortuneService">
	</bean>

	<bean id="coach" 
		class="com.stgcodes.springdemo.BaseballCoach">
		<!-- This constructor-arg attribute is used for constructor injection -->
		<constructor-arg ref="fortune" />
	</bean>

	<bean id="basketballCoach"
		class="com.stgcodes.springdemo.BasketballCoach">
		
		<!-- These property attributes are used for setter injection -->
		<property name="fortuneService" ref="randomFortune" />
		
		<property name="emailAddress" value="${coach.email}" />
		
		<property name="team" value="${coach.team}" />
	</bean>

</beans>